/* Navbar.css */

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #103661;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navbar-item {
  margin: 0 0.5rem;
}

.navbar-link {
  background-color: rgb(28, 151, 110);
  border-radius: 20px;
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  background-color: #555;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar-menu {
    flex-direction: column;
    align-items: center;
  }

  .navbar-item {
    margin: 0.5rem 0;
  }

  .navbar-link {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
}
